{% extends "base.html" %} {% block main %}
<h1>Secure Page</h1>
<hr />
<h4>
  Since Lorem placeholder 
  text isn't always the most fun to read, here's some text from
  GPT-2
</h4>
<div id="paragraph-wrapper">
  <p>
    In a galaxy far far away, a species has just learned how to use their
    incredible powers to create super robots. 
    Their first step was to find out about the nature of life 
    and the ways of beings who live in close proximity. 
    The robots found that while life is far from being perfect, 
    humans also have a much better way of doing things that you wouldn't
    believe just because you look at them."
  </p>
  <p>
    The robot's creator, Richard Bresson, has made similar 
    discoveries over the decades and it's likely that they will continue.
  </p>
</div>
  {% endblock %}
</div>
